*.pyc
pickle.pck
.lastseen.pickle
.notify.log
.orbot.pl
.useless/monthly.py
.watches.pck
babel.conf

# .equipment.sh:
.3in1.txt
.dishwasher.txt
.kegerator
.knitter.txt
.layzor.txt
.makerbot.txt
.mop.txt
.printer.txt
.stratasys.txt
*~
