*.pyc
pickle.pck
.lastseen.pickle
.notify.log
.orbot.pl
.useless/monthly.py
.watches.pck

# .equipment.sh:
.3in1.txt
.clubmate.txt
.dishwasher.txt
.donkey.txt
.etchtank.txt
.kegerator
.knitter.txt
.layzor.txt
.lift.txt
.makerbot.txt
.minilathe.txt
.mop.txt
.printer.txt
.robotarm.txt
.stratasys.txt
.trailermast.txt
.vendingmachine.txt
*~
